data_readers.clj
hs_err_pid*.log
pom.xml
pom.xml.asc
**/gen
**/target
.*
!.gitignore


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jsx


### Vim swap files ###
.*.sw[a-z]
*~

### Emacs Back files t
.#*

### OSX tomfoolery ###
.DS_Store
